{% extends "FilmBundle::index.html.twig" %}

{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Listes Des Categories</p>
            <div class="list-group">
                <a href="{{path('film_index')}}" class="list-group-item">Ajouter</a>
                <a href="#"class="list-group-item">editer</a>
                <a href="{{path('film_index')}}" class="list-group-item">afficher</a>
            </div>
        </div>

        <div class="col-md-9">
            <h1>Film edit</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('film_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>    
    </div>
{% endblock A %}