{% extends "FilmBundle::index.html.twig" %}

{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Listes Des Categories</p>
            <div class="list-group">
                <a href="{{path('film_new')}}" class="list-group-item">Ajouter</a>
                <a href="{{path('film_index')}}"class="list-group-item">editer</a>
                <a href="{{path('film_index')}}" class="list-group-item">afficher</a>
            </div>
        </div>

        <div class="col-md-9">
            <h1>Film creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}



        </div>    
    </div>
{% endblock A %}
